---
import CTA from "@components/CTA.astro";
import GalleryCard from "@components/gallery/GalleryCard.astro";
import Separator from "@components/Separator.astro";
import type { languages } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const currentLang = Astro.currentLocale as keyof typeof languages;
const t = useTranslations(currentLang);

const collections = await getCollection("collection");
---

<Layout title={t("pageTitle.gallery")} description={t("description.gallery")}>
  <header class="mx-auto max-w-7xl px-6 pt-24 pb-8 text-center sm:text-start">
    <h1 class="font-title text-4xl tracking-tighter md:text-7xl lg:text-8xl">
      {t("gallery.title")}
    </h1>
    <p class="text-xl font-medium md:text-2xl">
      {t("gallery.subtitle")}
    </p>
  </header>
  <Separator />
  <main class="mx-auto max-w-7xl px-4 py-20 sm:px-6 lg:px-8">
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5">
      {
        collections.map(({ id, data }, index) => {
          const { title, category, images } = data;
          return (
            <GalleryCard
              title={title[currentLang]}
              category={category[currentLang]}
              image={images[0].src}
              alt={images[0].alt[currentLang]}
              to={id}
              lazy={index > 7}
              lang={currentLang}
            />
          );
        })
      }
    </div>
  </main>
  <CTA lang={currentLang} t={t} />
  <Separator />
</Layout>
