---
import "../styles/global.css";
import "@fontsource-variable/archivo";
import "@fontsource-variable/inter";

interface Props {
  title?: string;
  description?: string;
}

const currentLang = Astro.currentLocale;
const { href, origin } = Astro.url;
const { title, description } = Astro.props;

const siteTitle = "Photography";
const pageTitle = [siteTitle, title].filter(Boolean).join(" | ");
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={href} />
    <title>{pageTitle}</title>
    <script
      type="application/ld+json"
      is:inline
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "WebPage",
        name: pageTitle,
        description: description,
        url: href,
        publisher: {
          "@type": "Organization",
          name: siteTitle,
          logo: {
            "@type": "ImageObject",
            url: `${origin}/favicon.svg`,
          },
        },
      })}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
